#topColor {

	color: ;
}

.pic1{

	width: 20%;
	height: 20%;
}

.pic2{

	width: 20%;
	height: 20%;
}

.pic6{

	width: 20%;
	height: 20%;
}

.pic4{

	width: 20%;
	height: 20%;
}

.pic5{

	width: 20%;
	height: 20%;
}